@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-container {
    @include flexbox(column, center);
    align-items: center;
    height: 90vh;

    ul {
        list-style: none;
        font-size: 25px;

        a {
            text-decoration: none;
            color: $main-color;
        }

        li {
            margin-bottom: 5px;
        }
    }
}