@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-container {
    @include flexbox(column, center);
    align-items: center;
    height: 90vh;

    div {
        @include flexbox(row, center);
        flex-wrap: wrap;
        width: 50%;
        font-size: 100px;

        a {
            text-decoration: none;
            color: $main-color;
        }
        span{
            margin-right: 15px;
        }
    }
}

@media (max-width: 1185px) {
    .list-container {
        @include flexbox(column, center);
        align-items: center;
        height: 90vh;
    
        div {
            @include flexbox(column, null);
            font-size: 50px;
    
            a {
                text-decoration: none;
                color: $main-color;
            }
        }
    }
}