@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-container {
    @include flexbox(column, center);
    align-items: center;
    height: 90vh;

    div {
        @include flexbox(row, center);
        flex-wrap: wrap;
        width: 63%;
        font-size: 75px;

        a {
            text-decoration: none;
            color: $main-color;
            font-family: $helvetica-medium;
            
            &:hover + .project-img{
                visibility: visible;
            }
        }

        span {
            margin-right: 15px;
        }

        .project-img {
            display: flex;
            visibility: hidden;
            align-items: center;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 70vh;
            width: 60vw;
            z-index: -1;
        }
    }
}

@media (max-width: 1185px) {
    .list-container {
        @include flexbox(column, center);
        align-items: center;
        height: 90vh;

        div {
            @include flexbox(column, null);
            font-size: 50px;

            a {
                text-decoration: none;
                color: $main-color;
                font-family: $helvetica-medium;
            }
        }
    }
}