@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:414px){
    .main-container{
        @include flexbox(column, null);
        align-items: center;
        height: 90vh;

        &__title{
            font-size: 25px;
            padding-top: 10px ;
        }

        &-data{
            width: 100%;
            height: 80vh;
            @include flexbox(column, space-around);
            align-items: center;

            &__video-container{
                display: flex;
                justify-content: center;
                padding: 5px;
                width: 100%;
                height: 40vh;
            }

            &__frame{
                width: 550px;
            }

            &__extra{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }

            &__description{
                width: 300px;
            }

            .information{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                font-size: 17px;
            }

            &__ul{
                list-style: none;
                li{
                    margin-bottom: 1.5px;
                }
            }
        }

    }

}