@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-container {
    height: 80vh;
    @include flexbox(column, space-evenly);
    align-items: center;

    &__text {
        @include flexbox(column, space-evenly);
        align-items: inherit;
        width: auto;
        font-size: 25px;
        font-family: $helvetica-regular;
    }

    &__media {
        @include flexbox(column, space-evenly);
        align-items: inherit;
        width: auto;
        font-size: 27px;
        margin: 2px;
        font-family: $helvetica-regular;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

@media (min-width: 1220px) {
    .contact-container {
        height: 90vh;
        @include flexbox(column, space-evenly);
        align-items: initial;

        &__text {
            @include flexbox(column, space-evenly);
            align-items: flex-start;
            width: auto;
            padding-left: 192px;

            &-top {
                font-family: $helvetica-regular;
                font-size: 75px;
            }

            &-bottom {
                font-family: $helvetica-regular;
                padding-left: 45px;
                font-size: 35px;
            }
        }

        &__media {
            @include flexbox(column, space-evenly);
            align-items: flex-end;
            width: auto;
            font-size: 35px;
            font-family: $helvetica-regular;
            padding-right: 190px;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}