@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    @include flexbox(row, flex-end);
    margin-top: 20px;
    margin-right: 20px;
}

.navbar {
    .nav {
        @include flexbox(row, space-around);

        a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-family: $helvetica-regular;
        }
    }
}

.desktop {
    @include flexbox(row, space-between);

    .initials {
        margin-top: 30px;
        margin-left: 90px;
        font-weight: 600;
    }

    .nav {
        @include flexbox(row, space-around);
        margin-top: 30px;
        width: 50%;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: $helvetica-regular;
    }
}

@media (max-width: 416px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 415px) {
    .container {
        display: none;
    }

    .navbar {
        display: none;
    }
}

@media (min-width: 418px) and (max-width: 555px) {
    .desktop {
        @include flexbox(row, center);
        align-content: center;

        .initials {
            margin-top: 30px;
            margin-left: 36px;
            font-weight: 600;
        }

        .nav {
            @include flexbox(row, space-around);
            margin-top: 30px;
            width: 100%;
        }

        a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            font-family: $helvetica-regular;
        }
    }
}