@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202324;
}

.top-container {
    @include flexbox(row, flex-end);
    margin-top: 20px;
    margin-right: 20px;
}

.navbar-container {
    &__nav {
        @include flexbox(row, space-around);

        a {
            text-decoration: none;
            color: $main-color;
            font-size: 20px;
        }
    }
}

.desktop-navbar {
    &__nav {
        @include flexbox(row, space-around);
        margin-top: 30px;
    }

    a {
        text-decoration: none;
        color: $main-color;
        font-size: 20px;
    }
}

@media (max-width: 416px) {
    .desktop-navbar {
        display: none;
    }
}

@media (min-width: 415px) {
    .top-container {
        display: none;
    }
    .navbar-container {
        display: none;
    }
}