*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202324;
}

.top-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__nav {
        display: flex;
        justify-content: space-around;

        a {
            text-decoration: none;
            color: #e94d1d;
            font-size: 20px;
        }
    }
}

.desktop-navbar {
    &__nav {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }

    a {
        text-decoration: none;
        color: #e94d1d;
        font-size: 20px;
    }
}

@media (max-width: 416px) {
    .desktop-navbar {
        display: none;
    }
}

@media (min-width: 415px) {
    .top-container {
        display: none;
    }
}