@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.top-container {
    @include flexbox(row, flex-end);
    margin-top: 20px;
    margin-right: 20px;
}

.navbar-container {
    &__nav {
        @include flexbox(row, space-around);

        a {
            text-decoration: none;
            color: $main-color;
            font-size: 20px;
        }
    }
}

.desktop-navbar {
    @include flexbox(row, space-between);

    &__initials{
        margin-top: 30px;
        margin-left: 36px;
        font-weight: 600;
    }
    &__nav {
        @include flexbox(row, space-around);
        margin-top: 30px;
        width: 50%;
    }

    a {
        text-decoration: none;
        color: $main-color;
        font-size: 25px;
    }
}

@media (max-width: 416px) {
    .desktop-navbar {
        display: none;
    }
}

@media (min-width: 415px) {
    .top-container {
        display: none;
    }
    .navbar-container {
        display: none;
    }
}

@media (min-width: 418px) and (max-width: 555px) {
    .desktop-navbar {
        @include flexbox(row, center);
        align-content: center;
    
        &__initials{
            margin-top: 30px;
            margin-left: 36px;
            font-weight: 600;
        }

        &__nav {
            @include flexbox(row, space-around);
            margin-top: 30px;
            width: 100%;
        }
    
        a {
            text-decoration: none;
            color: $main-color;
            font-size: 25px;
        }
    }
}