@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-container {
    @include flexbox(column, center);
    align-items: center;
    height: 80vh;

    &__name {
        padding: 5px;
        font-size: 45px;
        font-family: $helvetica-medium;
        color:white;
    }

    &__extra {
        padding: 5px;
        font-size: 30px;
        font-family: $helvetica-medium;
        color:white;
    }
}

@media (max-width: 920px) {

    .intro {
        display: none;
    }

}

@media (min-width: 920px) {

    .intro {
        position: absolute;
        width: 100%;
        object-fit: cover;
        height: 100%;
        z-index: -1;
        overflow: hidden;
    }

    .dashboard-container {
        @include flexbox(column, center);
        align-items: center;
        height: 80vh;

        &__name {
            padding: 5px;
            font-size: 105px;
            font-family: $helvetica-medium;
            color:white;
        }

        &__extra {
            width: 700px;
            text-align: right;
            font-size: 37px;
            font-family: $helvetica-medium;
            color:white;
        }
    }
}