*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;

    ul {
        list-style: none;
        font-size: 25px;

        a {
            text-decoration: none;
            color: #e94d1d;
        }

        li {
            margin-bottom: 5px;

        }
    }
}